#paste-title {
  font-size: 30px;
  text-align: center;
}

#paste-username {
  font-size: 22px;
  text-align: center;
}

#paste-content {
  display: inline-block;
  width: 60%;
  margin-left: 20%;
  word-wrap: break-word;
  //border: #000 solid 1px;
}

#paste-visibility {
  font-size: 18px;
  text-align: center;
}